{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}
    <h2>Give your feedback!</h2>

    {% for article in articles %}
        <h4>{{ article }}</h4>
    {% endfor %}
{% endblock %}